google-assistant-library>=1.0.0
google-assistant-sdk>=0.5.0
google-assistant-sdk[samples]>=0.5.0
google-assistant-grpc>=0.2.0
google-auth
requests_oauthlib
cherrypy
pyaudio
RPi.GPIO>=0.6.3
flask
flask-jsonpify
flask-restful
requests_oauthlib
psutil
